body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

body {
    background-color: #dbdbdb;
    height: 100vh;
}

.header {
    background-color: white;
    text-align: center;
}

.header-text {
    font-family: Helvetica, Arial sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.main-container {
    display: flex;
    width: 100vw;
    background-color: #FAF3DD;
    padding: 0;
    margin: 0;
}

.content {
    display: inline-block;
    background-color: lightblue;
    width: 75%;
}

.article {
    padding: 20px 20px;
    box-sizing: border-box;
    background-color: lightgreen;
    margin: 20px;
}

.article-header {
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

.article-text {

}

.article-author {
    text-align: right;
}

.sidebar {
    display: inline-block;
    background-color: bisque;
    width: 25%;
    padding: 20px;
    font-size: 18px;

}

.sidebar-header {
    font-size: 22px;
    font-weight: 600;
 }

.footer {
    text-align: center;
    color: #3f3f3f;

}