body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

body {
    background-color: #dbdbdb;
}

.header {
    background-color: white;
    text-align: center;
}

.header-text {
    font-family: Helvetica, Arial sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.main-container {
    display: flex;
    width: 100vw;
    background-color: #FAF3DD;
    padding: 0;
    margin: 0;
}

.content {
    display: inline-block;
    background-color: lightblue;
    width: 75%;
}

.article {
    box-sizing: border-box;
    display: inline-block;
    width: 90%;
    background-color: lightgreen;
    margin: auto;
}

.article-header {

}

.article-text {

}

.article-author {

}

.sidebar {
    display: inline-block;
    background-color: bisque;
    width: 25%;

}

.sidebar-header {

 }

.footer {

}